/********************************
      FOR TABLET SCREENS

*******************************/

@media screen and (min-width: 360px)  {
 
  /***********************************
      TABLET SCREEN header styling 
  **********************************/
  header li {
  display: inline-block;
  background-color: inherit;
  }  
  
  header img {
    float: right; 
    width: 45%;
    padding: 0;
    margin-right: 3%; 
  }
  
  header p {
    width: 45%; 
    margin: 0 0 0 3%; 
    display: inline-block;
  }
  
  header a {
    background-color: #e6e6e6;
  }
  
  header {
    padding-bottom: 5%; 
  }
  
  /**********************************
      section styling
  **********************************/
  
  .container-gallery {
    text-align: center; 
    padding: 0 2%; 
    vertical-align: middle;
   
  }
  
  .gallery-div {
    width: 45%;
    min-height: 10vmin; 
    position: relative; 
    display: inline-block;
    margin: 0 .5% 2%; 
  }
  
  section h2 {
    margin-bottom: 7.5%; 
  }
  
  section a {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  
  section img {
    width: 100%;
    height: 100%;  
    display: inline-block;
  }
  
  section p {
    display: inline-block;
    height: 100%; 
   
  }
  
  /****************************************
      footer styling
  ****************************************/
  
  .bottom-nav nav {
    display: inline-block;
    float: right; 
    font-weight: bolder;  
    vertical-align: top; 
    width: 70%; 
    text-align: center;
    font-size:.8em;
    position: relative; 
    top:.6em; 
  }
  
  .bottom-nav h3 {
    vertical-align: bottom;
    display:inline-block;
  }
  
  .bottom-nav h4 {
    display: none;
  }
  
  .bottom-nav ul {
    width: 100%; 
    padding-left: 0;
    text-align: right; 
    vertical-align: middle; 
  }
  
  .bottom-nav li {
    display: inline-block;
    list-style: none; 
    padding: 0 1.5%; 
  }
  
  
  
}

/******************************************
           FOR LARGE SCREENS


*****************************************/

@media screen and (min-width: 1024px) {
    
  body {
/*    background-color: yellow; */
    font-size:1.2em; 
  }
  
  /*****************************
  LARGE SCREEN Header styling
  *****************************/
  
  header h1 {
    float: left; 
    margin-left: 3%; 
  }
  
  .gallery-div {
    width: 30%; 
    margin: 0 1%;
  }
  
  header nav {
    float: right; 
    width: 50%;
    margin-right: 3%;
  }
  
  header ul {
    text-align: right; 
    padding-right: 0; 
  }
  
  header li {
    font-size: 1em; 
    margin: 0 4%; 
  }
  
  .contact-list-item {
    margin-right: 0;  /*  lining nav up with img*/
  }
  
  header p {
    font-size: 1.2em; 
    clear: left; 
    text-align: left; 
    margin-top: 2%;
    float: left; 
  }
  
  header img {
    clear: both; 
    width: 30%; 
    margin-top: 2%; 
    margin-bottom: 4%; 
  }
  
   /*****************************
    LARGE SCREEN section styling
  *****************************/
  .container-section {
      padding-bottom: 7%;
  }
  
  section h2 {
    margin-bottom: 7.5%;
    padding-top: 5%;
     
  }
  
  /*****************************
    LARGE SCREEN footer styling
  *****************************/
  
  footer {
    padding-top: 7%;
  }
  
}